.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #0f172a;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar li {
  font-weight: 500;
}

.navbar li:hover {
  color: #c6a75e;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}
